// @charset "utf-8";

// // Import a Google Font
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// // Set your brand colors
// $purple: #8A4D76;
// $pink: #FA7C91;
// $brown: #757763;
// $beige-light: #D0D1CD;
// $beige-lighter: #EFF0EB;

// // Update Bulma's global variables
// $family-sans-serif: "Nunito", sans-serif;
// $grey-dark: $brown;
// $grey-light: $beige-light;
// $primary: $purple;
// $link: $pink;
// $widescreen-enabled: false;
// $fullhd-enabled: false;

// // Update some of Bulma's component variables
// $body-background-color: $beige-lighter;
// $control-border-width: 2px;
// $input-border-color: transparent;
// $input-shadow: none;

// // Import only what you need from Bulma
// @import "../node_modules/bulma/sass/utilities/_all.sass";
// @import "../node_modules/bulma/sass/base/_all.sass";
// @import "../node_modules/bulma/sass/elements/button.sass";
// @import "../node_modules/bulma/sass/elements/container.sass";
// @import "../node_modules/bulma/sass/elements/title.sass";
// @import "../node_modules/bulma/sass/form/_all.sass";
// @import "../node_modules/bulma/sass/components/navbar.sass";
// @import "../node_modules/bulma/sass/layout/hero.sass";
// @import "../node_modules/bulma/sass/layout/section.sass";

$liveink: #9d0e5d;

$family-sans-serif: 'Ubuntu','Helvetica','Arial';

$primary: $liveink;
$link: $liveink;

//**** CAROSEL STUFF *********************************
.carosel {
    position: relative;
}

.carosel-item {
    background-position: center;
    position: absolute;
    width: 100%;
}

.slide-in-left {
    animation-name: slide-in-left;
    animation-duration: 1s;
    left: 0;
}
@keyframes slide-in-left {
    from {left: 100vw;}
    to {left: 0;}
}

.slide-out-left {
    animation-name: slide-out-left;
    animation-duration: 1s;
    left: -100vw;
}
@keyframes slide-out-left {
    from {left: 0;}
    to {left: -100vw;}
}

.slide-in-right {
    animation-name: slide-in-right;
    animation-duration: 1s;
    left: 0;
}
@keyframes slide-in-right {
    from {left: -100vw;}
    to {left: 0;}
}

.slide-out-right {
    animation-name: slide-out-right;
    animation-duration: 1s;
    left: 100vw;
}
@keyframes slide-out-right {
    from {left: 0;}
    to {left: 100vw;}
}

.offscreen-left {
    left: -100vw;
}

.offscreen-right {
    left: 100vw;
}
//****************************************************

.image-flower {
    background-image: url(../homeTemplate/flower.jpg);
}

.image-beach {
    background-image: url(../homeTemplate/beach.jpg);
}

.image-trees {
    background-image: url(../homeTemplate/trees.jpeg);
}

.image-waves {
    background-image: url(../homeTemplate/waves.jpg);
}

.image-leaves {
    background-image: url(../homeTemplate/leaves.jpg);
}

.image-clouds {
    background-image: url(../homeTemplate/clouds.jpg);
}

#big-logo {
    padding-top:0;
    padding-bottom:0;
    img {
        max-height: 3rem;
    }
}

@import "../node_modules/bulma/bulma.sass";